#!/bin/bash

symlink_if_exist() {
    if [ -d "$1" ]; then
        ln -sf "$1" "$HOME/"
    fi
}

replace_dir_with_remote() {
    local_dir="$1"
    remote_dir="$2"
    
    if [ -d "$remote_dir" ]; then
        if [ ! -d "$local_dir" ]; then
            ln -s "$remote_dir" "$local_dir"
        elif [[ "$local_dir" != "$(realpath --canonicalize-existing $local_dir)" ]]; then
            echo "The $(basename $local_dir) dir ($local_dir) is already a symlink ($(realpath --canonicalize-existing $local_dir))"
        else
            rmdir "$local_dir"
            if [ $? -eq 0 ]; then
                # Removal of local dir where successfull, so it had to be empty
                # Replace it with symplink to remote dir
                ln -sf "$remote_dir" "$local_dir"
            fi
        fi
    fi
}

pictures_cloud="{{- .cloud.dir -}}/{{- .cloud.prefix -}}/Pictures"
pictures="$(xdg-user-dir PICTURES)"

documents_cloud="{{- .cloud.dir -}}/{{- .cloud.prefix -}}/Documents"
documents="$(xdg-user-dir DOCUMENTS)"

videos_cloud="{{- .cloud.dir -}}/{{- .cloud.prefix -}}/Videos"
videos="$(xdg-user-dir VIDEOS)"

desktop_cloud="{{- .cloud.dir -}}/{{- .cloud.prefix -}}/Desktop"
desktop="$(xdg-user-dir DESKTOP)"

{{ if eq .chezmoi.hostname "arch-laptop" -}}

    symlink_if_exist "/mnt/EMU-SSD/"
    symlink_if_exist "/mnt/Backup-Drive/"
    
    mkdir -p "$HOME/Dev"
    mkdir -p "$HOME/Cloud"

    replace_dir_with_remote "$pictures" "$pictures_cloud"
    replace_dir_with_remote "$documents" "$documents_cloud"
    replace_dir_with_remote "$videos" "$videos_cloud"
    replace_dir_with_remote "$desktop" "$desktop_cloud"
    
{{- end }}

# make sure to run script every time!: {{ uuidv4 }}
