{{ if and (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.os "linux") -}}
#!/bin/bash

{{ $de := env "XDG_SESSION_DESKTOP"  -}}

packages=(
{{- range .packages.base }}
    {{ . -}}
{{ end }}
)

{{ if hasKey .packages.machines .chezmoi.hostname -}}
    {{- $pkgs := get .packages.machines .chezmoi.hostname -}}
    {{- range $pkgs -}}
        packages+=({{ . | quote }})
    {{ end -}}
{{ end }}

{{ if hasKey .packages.desktop_environments $de -}}
    {{ $pkgs := get .packages.desktop_environments $de }}
    {{- range $pkgs -}}
        packages+=({{ . | quote }})
    {{ end -}}
{{- end }}


aur_packages=(
{{- range .aur_packages.base }}
    {{ . -}}
{{ end }}
)

{{ if hasKey .aur_packages.desktop_environments $de -}}
    {{- $pkgs := get .aur_packages.desktop_environments $de -}}
    {{- range $pkgs -}}
        aur_packages+=({{ . | quote }})
    {{ end -}}
{{ end }}

function exit_on_cmd_fail() {
    if [ $? -ne 0 ]; then
        echo "$1"
        exit 1
    fi
}

function install_pacman_pkgs() {
    if [ ${#packages[@]} -ne 0 ]; then
        echo "Installing pacman pkgs!"            
        sudo pacman -S --needed ${packages[@]}
    fi
}

function install_aur_pkgs() {  
    if [ ${#aur_packages[@]} -ne 0 ]; then
        if ! command -v -- "/usr/bin/paru" > /dev/null 2>&1; then
            echo "Paru not installed, installing!"

            sudo pacman -S --needed base-devel
            exit_on_cmd_fail "Failed to install base-devel, exiting!"
            git clone https://aur.archlinux.org/paru.git
            exit_on_cmd_fail "Failed to download paru sources, exiting!"
        
            pwd="$PWD"
            cd paru
            makepkg -si
            exit_on_cmd_fail "Failed to install paru"

            echo "Paru installed succsessfully."
            cd $pwd
            rm -r paru
        fi

        installed=( $(pacman -Qeq) )
        
        for pkg in "${aur_packages[@]}"; do
            if [[ ! "${installed[@]}" =~ "$pkg" ]]; then
                echo "Installing $pkg from aur"
                paru -S $pkg
            fi 
        done
    fi
}

install_pacman_pkgs
install_aur_pkgs

{{ end }}
{{/* Test template: 'cat run_onchange_arch-install-packages.sh.tmpl | chezmoi execute-template' */}}
