{{ $kdb := promptString "Kepass database" -}}

[keepassxc]
   database = {{ $kdb | quote }}
   
[data.git]
   name = "{{ keepassxcAttribute "Github" "username" }}"
   email = "{{ keepassxcAttribute "Github" "email" }}"

[data.cloud]
   dir = "{{- .chezmoi.homeDir -}}/Cloud"
   prefix = "mega-personal"
