{{- include "setup_gen.toml" -}}

[data.git]
   name = "{{ keepassxcAttribute "Github" "username" }}"
   email = "{{ keepassxcAttribute "Github" "email" }}"

[data.cloud]
   dir = "{{- .chezmoi.homeDir -}}/Cloud"
   prefix = "mega-personal"
   borg_backup_repo = "/mnt/Backup-Drive/BorgBackup/Cloud" 

[scriptEnv]
    TERMINAL = "/usr/bin/alacritty"




