{{- $database := promptStringOnce . "database" "Enter keepassxc database path" -}}

[keepassxc]
   database = "{{ $database }}"

[data.git]
   name = "{{ keepassxcAttribute "Github" "username" }}"
   email = "{{ keepassxcAttribute "Github" "email" }}"

[data.cloud]
   dir = {{- .chezmoi.homdeDir -}}/.Cloud/
   prefix = "mega-personal"
   borg_backup_repo = "/mnt/Backup-Drive/BorgBackup/Cloud" 




