#!/bin/bash

vsc="/usr/bin/vscodium"
ext="zokugun.sync-settings"

if ! command -v -- "$vsc" > /dev/null 2>&1; then
    echo "Missing vscodium, installing!"
    paru -S --noconfirm --needed vscodium-bin vscodium-bin-marketplace
fi

ext_check=$($vsc --list-extensions | grep $ext)

if [ "$ext_check" != "$ext" ]; then
    echo "Installing vscodium extention $ext"
    $vsc --install-extension $ext
fi 