{{- if eq .chezmoi.hostname "arch-desktop" -}}
    {{- include "private_dot_config/hypr/hyprland.conf_Desktop" }}
{{ else if eq .chezmoi.hostname "arch-laptop" }}
    {{- include "private_dot_config/hypr/hyprland.conf_Laptop" }}
{{- end -}}