Host github.com
    User git
    Hostname github.com
    PreferredAuthentications publickey
    IdentitiesOnly yes
    IdentityFile {{.chezmoi.homeDir -}}/.ssh/github.pub

Host {{- keepassxcAttribute "School_ML_Cluster" "host" }}
    HostName {{ keepassxcAttribute "School_ML_Cluster" "hostname" }}
        User {{ keepassxcAttribute "School_ML_Cluster" "user" }}
