[user]
   name = {{ .git.name }}
   email = {{ .git.email }}
[diff]
   tool = codium
   [difftool]
      prompt = false
   [difftool "codium"]
      cmd = codium "$LOCAL" "$REMOTE" "--diff" "--wait"

