file://{{- .chezmoi.homeDir -}}/Documents Documents
file://{{- .chezmoi.homeDir -}}/Music Music
file://{{- .chezmoi.homeDir -}}/Pictures Pictures
file://{{- .chezmoi.homeDir -}}/Videos Videos
file://{{- .chezmoi.homeDir -}}/Downloads Downloads
file://{{- .chezmoi.homeDir -}}/.config configs
file://{{- .chezmoi.homeDir -}}/.local/bin bin-home
file://{{- .cloud.dir -}}/{{- .cloud.prefix }} cloud
file://{{- .cloud.dir -}}/{{- .cloud.prefix }}/School School
file://{{- .chezmoi.homeDir -}}/dev dev
{{ if eq .chezmoi.hostname "arch-desktop" -}}
file:///home/vm_share vm_share
{{- end -}}


