#![enable(implicit_some)]
(
    temp_method: Wlsunset,
    gamma_config: (
        low_temp: 2937,
        high_temp: 6500,
        low_gamma: 1,
        high_gamma: 1,
        low_brightness: 1,
        high_brightness: 1,
    ),
    location: None,
    manual_time: (
        sunrise: "09:00",
        sunset: "18:00",
        in_utc: false,
    ),
    duration: None,
)